.cover-container {
  color: #fff;
  font-family: Jost;
  z-index: 0;
}

.cover-cover {
  z-index: 100;
}

.cover-title {
  font-size: 57px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
}

.cover-footer {
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  z-index: 100;
}

.cover-rectangle {
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  color: #00aeef;
  padding: 8.5px 10px 9.5px 17px;
  border-radius: 31.5px;
  border: solid 1px #00aeef;
  max-width: fit-content;
  text-align: left;
  display: table;
}

.cover-text {
  display: table-cell;
  vertical-align: middle;
}

.text-blue {
  color: #1955d5;
}

.text-grey {
  color: #c6c6cc;
}

.background-black {
  background-color: #282828;
}

.background-blue {
  background-color: #1955d5;
}

img.Iconsend {
  width: 27px;
  height: 27px;
  margin: 0 0 0 10px;
  object-fit: contain;
  display: table-cell;
  vertical-align: bottom;
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}

.cover-unicef {
  background-color: #00aeef;
  font-family: Jost;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  color: white;
}

h1, h2, p {
  font-family: Jost;
}

.btn {
  border-radius: 17.5px;
}

.unicef-blue-section-header {
  color: #00aeef;
  font-weight: 600;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Jost';
  src: local('Jost'), url(./fonts/Jost-VariableFont_wght.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
